
@{
    ViewData["Title"] = "EsperaCandidato";
}

<div class="alert alert-success" role="alert">
    <h4 class="alert-heading">Pre Cadastro realizando con sucesso!</h4>
    <p>Agora tem que espera o Clube aceitar o seu pedido, por favor espere</p>
    <hr>
    <p class="mb-0">Atenciosamente, Clube Social.</p>
</div>

