
@{
    ViewData["Title"] = "Index";
}

    <h1 class="text-center">Cadastro de Socio concluindo com sucesso</h1>
<div class="alert alert-success" role="alert">
    <h4 class="alert-heading">Bem Vindo ao Clube Social</h4>
    <p>Parabéns</p>
    <hr>
    <p class="mb-0">Atenciosamente, Clube Social.</p>
</div>

