
@{
    ViewData["Title"] = "SocioAndamento";
}

<h1 class="text-center">Socio Andamento</h1>
<div class="alert alert-success" role="alert">
    <h4 class="alert-heading">Seu Cadastro foi aceito com sucesso!</h4>
    <p>Agora tem que espera o Funcionario do clube abilitar o resto do cadastro, por favor espere</p>
    <hr>
    <p class="mb-0">Atenciosamente, Clube Social.</p>
</div>

